<div class="row">
  <div class="col-md-6">
    <h2>New Post</h2>

    <form id="newpostform" class="form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-body">Body</label>
        <input class="form-input" type="text" id="post-body" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

  </div>
</div>

<script src="/js/newPost.js"></script>